.banner-container {
    position: relative;
    width: 100%;
    height: 60vh;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner-container {
    padding-top: 80px; /* igual à altura do header */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background: rgba(0, 0, 0, 0.50); /* fundo escuro semitransparente */
}

.banner-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.banner-txt-area {
  position: relative;
  z-index: 2;
  color: #fff; 
  display: flex;
  flex-direction: column;
  margin-left: 9%;

  height: 100%;
  padding: 40px 0 40px 0;           /* ajuste conforme necessário */
  border-radius: 12px; 
}


.banner-title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    width: 40%;
    margin-left: 40px;
    text-shadow: 2px 4px 12px rgba(0,0,0,0.85), 0 1px 0 #000;
}

.banner-description {
    color: white;
    font-size: 1.5rem;
   
    margin-top: 14px;
    margin-left: 40px;
    width: 45%;
    text-shadow: 2px 4px 12px rgba(0,0,0,0.85), 0 1px 0 #000;
}

.cta {
    margin-top: 35px;
}

.btn-cta {
    background-color: #ff5722;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1rem;

    margin-top: 50px;
    margin-left: 40px;
}

